.info-boxes {
    &__item {
        text-align: center;        
        padding: 10px;
        height: 160px;        
        color: $color__bg;
        display: flex;
        flex-direction: column;
        
        &:nth-child(3n+1) {
            background-color: rgba($color__green, $alpha: 0.7);
        }
        &:nth-child(3n+2) {
            background-color: rgba($color__green, $alpha: 0.85);
        }
        &:nth-child(3n+3) {
            background-color: $color__green;
        }
       
        @include mappy-bp( max-width 768px ) {
            margin-left: -7%;
            margin-right: -7%;            
            justify-content: center;            
        }       
    }
    &__heading {
        @include font-size(22);
        margin: 0;
    }
    &__content {
        display: flex;
        align-self: center;
        align-items: center;
        margin-top: 12px;
        a {
            color: $color__bg;
            text-decoration: none;
        }
        p{
            text-align: left;
            margin: 0 0 0 29px;
        }
    }
}

@include mappy-query(tablet) {
    .info-boxes {
        display: flex;
        flex-wrap: wrap;
        &__heading {
            margin-top: 47px;
        }
        &__content{
            margin-top: 29px;
        }
        &--margin {
            margin-top: -123px;
        }
        &__heading {
            @include font-size(24);
        }
        &__item {
            height: 256px;
            width: calc( 100% / 3 );
        }
    }
}