.site-navbar{
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        li{   
            text-align: center;
            a{         
                position: relative;    
                color: $color__text;
                text-decoration: none;
                &:hover,
                &:focus{
                    transition: .3s ease font-weight, .3s ease color;
                    font-weight: 700;
                    color: $color__green;          
                    &:after { 
                        width: 70%; 
                        left: 15%; 
                    }                             
                }
                &:after {    
                    @include pseudo;
                    background: none repeat scroll 0 0 transparent;
                    bottom: -4px;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: $color__green;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                }
            }
        }
    }
    &--desktop{
        display: none;
    }
    &--mobile{        
        margin-top: 10vh;
        .site-navbar__list{            
            li{
                @include font-size(30);
                line-height: 1.35;
                margin-top: 10px;
            }
        }
    }
}



@include mappy-query(laptop) {
    .site-navbar{
        &__list{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;            
        }
        &--desktop{
            display: block;
            .site-navbar__list{
                flex-direction: row;
                li{
                    a{
                        @include font-size(16);        
                        display: inline-block;
                        &:before {
                            display: block;
                            content: attr(title);
                            font-weight: bold;
                            height: 0;
                            overflow: hidden;
                            visibility: hidden;
                        }        
                    }
                    &+li {
                        margin-left: 49px;
                    } 
                }
            }
        }
    }
}

@include mappy-query(desktop) {
    .site-navbar{
        &--desktop {
            .site-navbar__list {
                li {
                    &+li {
                        margin-left: 69px;
                    }  
                }
            }
        }
        
    }
}

